<%= form_with(model:[@support, @translation]) do |f| %>
    <div id="writing-errors">
    </div>
    <div class="row translation-title">
        <div class="col-md-4 nopadding">
            <strong><%= @support.sourceLanguage.name %></strong>
        </div>
        <div class="col-md-4 nopadding">
            <strong>Contexte</strong>
        </div>
        <div class="col-md-4 nopadding">
            <strong><%= @support.targetLanguage.name %></strong>
        </div>
    </div>

    <% # render all translations of current support if we are on index_page %>
    <div class="translations">
    <%= render @translations if index_page %>
    </div>
    <% # I add this css-class to hide the section when page load if current page is index %>
    <% css_class = index_page ? 'add-translation-form' : '' %>

    <div class="<%= css_class %> form-group form-group-translation">
        <div class="row">
            <div class="col-md-4 nopadding"><%= f.text_field :sourceWriting, class: "form-control input-translation-form", placeholder: 'Mot - ex: Bonjour!', :required => true %></div>
            <div class="col-md-4 nopadding"><%= f.text_field :context, class: "form-control input-translation-form", placeholder: 'Donnez un exemple!'  %></div>
            <div class="col-md-4 nopadding"><%= f.text_field :targetWriting, class: "form-control input-translation-form", placeholder: 'Définition - ex: Hello!', :required => true %></div>
        </div>
        <div class="row form-group-translation-button">
            <div class="col-md-6 nopadding">
                <%= f.submit submit_value, class: "btn btn-primary" %>
                <%= link_to 'Annuler', 'javascript:;', class: 'form-group-translation-button-cancel', "data-translation_form" => "hide" if index_page %>
            </div>
        </div>
    </div>
<% end %>
