<%= simple_form_for [@support, @translation], remote: true do |f| %>
  <div class="col col-12 center bg-orange py1">
    <%= f.hidden_field :support_id, value: @support.id %>
    <div class="col col-3"><%= f.text_field :sourceWriting, placeholder: 'Mot - ex: Bonjour!', :required => true %></div>
    <div class="col col-3"><%= f.text_field :targetWriting, placeholder: 'Définition - ex: Hello!', :required => true %></div>
    <div class="col col-3"><%= f.text_field :context, placeholder: 'Donnez un exemple!'  %></div>
    <div class="col col-3"><%= f.submit submit_value %></div>
  </div>
<% end %>
