<div id="translation<%= translation.id %>" class="col col-12 center border-bottom border-cloud flex items-center py1", onmouseenter='check(event); console.log("triggered");'>
  <% unless @support.topic? %>
    <div>
      <%= check_box_tag 'translation[]', translation.id, false, onclick: 'changeTextCreateTopicButton();' %>
    </div>
  <% end %>
  <div class="col col-5 sm-col-3">
    <%= translation.sourceWriting.text %>
  </div>
  <div class="col col-5 sm-col-3">
    <%= translation.targetWriting.text %>
  </div>
  <% context = (!translation.context.present? ? '/' : translation.context ) %>
  <div class="col col-3 xs-hide sm-show">
    <%= context %>
  </div>
  <div class="col col-2 sm-col-3">
    <%= link_to edit_support_translation_path(translation.support, translation), remote: true, class: 'mr2' do %>
      <i class="ion-edit h2 text-yellow"></i>
    <% end %>
    <%= link_to support_translation_path(translation.support_id, translation.id), remote: true, method: :delete, data: {confirm: 'Are you sure?'} do %>
      <i class="ion-ios-trash h2 text-ruby"></i> 
    <% end %>
  </div>
</div>
