<div class="col col-12 center border-bottom border-cloud flex items-center">
 <div class="col col-3"><%= translation.sourceWriting.text %></div>
 <div class="col col-3"><%= translation.targetWriting.text %></div>
 <% context = (!translation.context.present? ? '/' : translation.context ) %>
 <div class="col col-3"><%= context %></div>
 <div class="col col-3">
  <div id="dropdown_trigger" class="dropdown px3" data-target="<%= translation.id %>">
      <i class="ion-android-more-vertical h1 text-orange"></i>
  </div>
  <div class="dropdown-content" id="myDropdown<%= translation.id %>">
    <%= link_to 'Update', edit_support_translation_path(translation.support, translation), remote: true, class:"text-white block p2" %>
    <%= link_to "Delete", support_translation_path(translation.support_id, translation.id), remote: true, method: :delete, data: {confirm: 'Are you sure?'}, class:"text-white block p2" %>
  </div>
 </div>
</div>
