<div class="col col-12 center">
 <div class="col col-3"><%= translation.sourceWriting.text %></div>
 <div class="col col-3"><%= translation.targetWriting.text %></div>
 <% context = (!translation.context.present? ? '/' : translation.context ) %>
 <div class="col col-3"><%= context %></div>
 <div class="col col-3">
    <div>
      <ul>
        <li><%= link_to "Update", edit_support_translation_path(translation.support, translation)%></li>
        <li><%= link_to "Delete", support_translation_path(translation.support_id, translation.id), remote:true, method: :delete, data: {confirm: 'Are you sure?'} %></li>
      </ul>
    </div>
 </div>
</div>
