<div class="max-width-4 mx-auto clearfix bg-white">
  <div class="px2 pt2 flex justify-between">
    <%= link_to 'Back', root_path, class: 'btn btn-outline-orange' %>
    <%= link_to 'Start Reviewing', support_reviews_path(@support), method: :post, remote: true, class:'btn btn-orange' %>
  </div>
  <div class="col col-12 center border-bottom border-cloud">
    <p class="col col-5 sm-col-3 fw700 h2"><%= @support.sourceLanguage.name %></p>
    <p class="col col-5 sm-col-3 fw700 h2"><%= @support.targetLanguage.name %></p>
    <p class="col col-3 xs-hide sm-show fw700 h2">Context</p>
    <p class="col col-2 sm-col-2">
    </p>
  </div>
  <%= render @translations %>
  <div class="col col-12 center py2 pb4 mb4">
    <%= simple_form_for [@support, @translation], remote: true do |f| %>
      <%= f.hidden_field :support_id, value: @support.id %>
      <div class="col col-5 sm-col-3">
      <%= f.text_field :sourceWriting, placeholder: "Word in #{@support.sourceLanguage.name}", :required => true, class: 'py1 center', style:'width:100%;' %>
      </div>
      <div class="col col-5 sm-col-3">
      <%= f.text_field :targetWriting, placeholder: "Translation in #{@support.targetLanguage.name}", :required => true, class: 'py1 center', style:'width:100%;' %>
      </div>
      <div class="col col-3 xs-hide sm-show">
      <%= f.text_field :context, placeholder: 'Give a context!', class: 'py1 center'  %>
      </div>
      <div class="col col-2 sm-col-3">
      <%= f.submit 'Add', class: 'btn btn-orange', style:'width:100%;' %>
      </div>
    <% end %>
  </div>
</div>


<!-- TODO, put that code in a sharable place -->
<script type="text/javascript">
  $(document).ready(function(){
    $('.dropdown').click(function(e){
      e.preventDefault();
      toggle_dropdown($(this).data('target'));
    });
  });

  function toggle_dropdown(id){
    $('#myDropdown' + id).toggle();
  }

  $('#translation_sourceWriting').focusout(function(){
    fetch($('#translation_sourceWriting').val());
  });

  function fetch(phrase){
    $.get( "/<%= @support.sourceLanguage.name.downcase %>_to_<%= @support.targetLanguage.name.downcase %>/" + phrase, function( data ) {
      $('#translation_targetWriting').val(data["tuc"][0]["phrase"]["text"]);
    });
  }
</script>
