<% content_for :head do %>
    <title>Recall - <%= @support.name %></title>
<% end %>
<h1><%= @support.name %></h1>
<table>
    <tr>
        <th><%= @support.sourceLanguage.name %></th>
        <th>context</th>
        <th><%= @support.targetLanguage.name %></th>
    <tr>
    <%= render @translations %>
</table>