<div class="max-width-4 mx-auto">
  <div class="col col-12 flex flex-wrap">

    <div class="p1 col col-12 sm-col-6 md-col-4">
      <%= link_to new_support_path, remote: true do %>
        <div class="center clearfix bg-orange flex items-center" style="height:100%;">
          <div class="col col-12 flex flex-column">
            <div class="h2 text-black fullwidth text-white">Add a Media</div>
            <div><i class="h1 ion-android-add text-white"></i></div>
          </div>
        </div>
      <% end %>
    </div>

    <% @supports.each do |support| %>
      <div class="p1 col col-12 sm-col-6 md-col-4">
         <!-- links -->
        <div class="bg-white">
          <div id="dropdown_trigger" class="dropdown px3"  data-target="<%= support.id %>">
              <i class="ion-android-menu h1 text-orange"></i>
          </div>
          <div class="dropdown-content" id="myDropdown<%= support.id %>">
            <%= link_to 'Update', edit_support_path(support), class:"text-white block p2", remote: true %>
            <%= link_to 'Archive', archive_support_path(support), class:"text-white block p2", method: :patch %>
            <%= link_to 'Delete', support_path(support), method: :delete, class:"text-white block p2" %>
          </div>
        </div>
         <!-- end links -->
       <%= link_to support_translations_path(support) do %>
        <div class="center clearfix bg-white">
            <div class="h2 text-text"><%= support.name %></div>
            <div><i class="h1 <%= MediaType::ICONS[support.media_type.name] %> text-text"></i></div>

            <%= render partial: 'home/mark', locals: { support: support } %>

            <div class="col col-12 pb1">
              <% if support.reviewable? %>
                <div class="col col-6 px1">
                  <%= link_to 'Start Reviewing', support_reviews_path(support), method: :post, remote: true, class:'btn btn-orange block' %>
                </div>
              <% else %>
                <div class="col col-6 px1">
                  <div class="btn btn-outline-orange">
                    Start Reviewing
                  </div>
                </div>
              <% end %>

              <% if support.last_review && support.last_review.incomplete? %>
                <div class="col col-6 px1">
                  <%= link_to 'Resume', new_review_answer_path(support.last_review), remote: :true, class:'btn btn-orange block' %>
                </div>
              <% else %>
                <div class="col col-6 px1">
                  <div class="btn btn-outline-orange">
                    Resume
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<!-- TODO, put that code in a sharable place -->
<script type="text/javascript">
  $(document).ready(function(){
    $('.dropdown').click(function(e){
      e.preventDefault();
      hide_dropdown($(this).data('target'));
    })
  });

  function hide_dropdown(id){
    $('#myDropdown' + id).toggle();
  }
</script>

