<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= yield :head %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default" style="border:1px red solid">
      <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" style="border:1px red solid">Recall</a>
        </div>
      </div>
    </nav>

    <div class="container">
        <div class="row" style="border:1px black solid">
            <div class="col-md-offset-2 col-md-3" style="border:1px red solid">
                <div class="container-fluid"  style="border:1px black solid">
                    <%= render @supports %>
                </div>

                <%= link_to new_support_path do %>
                <span>Nouveau media</span>
                <% end %>
            </div>
            <div class="col-md-5" style="border:1px black solid">
                <%= yield %>
            </div>
        </div>
    </div>
  </body>
</html>
