<!DOCTYPE html>
<html>
  <head>
    <%= yield :head %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Rec'all</h1>
    <div>
        <ul>
            <% # render the partial collection _support.html.erb %>
            <%= render @supports %>
        </ul>
        <%= link_to "Nouveau media", new_support_path %>
    </div>
    <div>
        <%= yield %>
    </div>
  </body>
</html>
