<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= yield :head %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Rec'all</h1>
    <div class="container-fluid">
        <div class="row" style="border:1px black solid">
            <div class="col-md-4" style="border:1px black solid">
                <ul>
                    <%= render @supports %>
                </ul>
                <%= link_to "Nouveau media", new_support_path %>
            </div>
            <div class="col-md-8" style="border:1px black solid">
                <%= yield %>
            </div>
        </div>
    </div>
  </body>
</html>
