<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= yield :head %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
  </head>

  <body>
    <%= render "shared/navbar" %>

    <div class="container-fluid main-container">
        <%= render "shared/notice" %>
        <div class="row">
            <div class="col-sm-offset-2 col-sm-3 side-menu">
                <%= render partial: 'shared/title', locals: {title: "Medias", title_tag_is_defined: false, is_support_title: false} %>
                <%= render @active_supports %>
                <div class="row">
                    <h5>
                        <a class="title_media_archived" data-display="archived_supports">Medias archivés</a><span class="support-size"> <%= @archived_supports.count %> </span>
                    </h5>
                </div>
                <div id="archived_supports">
                <%= render @archived_supports %>
                </div>

                <div class="row">
                    <%= link_to new_support_path, class: 'side-menu-new-media' do %>
                        <span class="glyphicon glyphicon-plus"></span> Nouveau media
                    <% end %>
                </div>
            </div>
            <div class="col-sm-5 content-view">
                <%= yield %>
            </div>
        </div>
    </div>
  </body>
  <div id="modal-container"></div>
  <%= render 'shared/js/jquery' %>
  <%= render 'shared/js/modal' %>

</html>
