<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= yield :head %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/navbar" %>

    <div class="container-fluid main-container">
        <div class="row">
            <div class="col-sm-offset-2 col-sm-3 side-menu">
                <%= render partial: 'shared/title', locals: {title: "Medias", title_tag_is_defined: false, is_support_title: false} %>
                <%= render @supports %>
                <div class="row">
                    <%= link_to new_support_path, class: 'side-menu-new-media' do %>
                        <span class="glyphicon glyphicon-plus"></span> Nouveau media
                    <% end %>
                </div>
            </div>
            <div class="col-sm-5 content-view">
                <%= yield %>
            </div>
        </div>
    </div>
  </body>
</html>
